// Color Variable
$bg: #90ee90;
$button: #f78e8e;
$error: #ff0000;

// Main CSS
.mainApp {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .linkUrl {
      text-decoration: none;
      color: inherit;
    }

    // Login and Registration
    .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $bg;

      h1 {
        font-size: 24px;
        color: #a85353;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 250px;
        padding: 20px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
          outline: none;
        }

        button {
          font-size: 1rem;
          cursor: pointer;
          padding: 10px;
          background-color: $button;
          border: none;
          border-radius: 7px;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          -ms-border-radius: 7px;
          -o-border-radius: 7px;

          &:hover {
            color: #fff;
            background-color: black;
          }
        }

        p {
          font-size: 12px;
          text-align: center;
          color: $error;
        }

        span {
          font-size: 14px;
          text-align: center;

          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
        }
      }
    }

    // Navbar

    .navbar {
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $bg;
            height: 50px;
            width: 50px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-weight: 300;

            border: 1px solid white;

            &:hover {
              background-color: #a85353;
              color: white;
              border: 1px solid #000;
            }
          }
        }
      }
    }
  }
}
